
@{
    ViewData["Title"] = "Admin";
}

<h1>Administration</h1>

<a href="https://localhost:44354/Administration"><h3>All Users</h3></a>

<a href="https://localhost:44354/Categories"><h3>Categories</h3></a>

<a href="https://localhost:44354/Products"><h3>Products</h3></a>
<a href="https://localhost:44354/Sizes"><h3>Sizes</h3></a>
<a href="https://localhost:44354/Genders"><h3>Gender</h3></a>

