
@{
    ViewData["Title"] = "Admin";
   
}

    <div class="main">
<h1>Administration</h1>


<a href="https://localhost:44354/Administration/Index"><h3>All Users</h3></a>

<a href="https://localhost:44354/Categories/Index"><h3>Categories</h3></a>

<a href="https://localhost:44354/Products/Index"><h3>Products</h3></a>
<a href="https://localhost:44354/Sizes/Index"><h3>Sizes</h3></a>
<a href="https://localhost:44354/Genders/Index"><h3>Gender</h3></a>

    </div>